$primary: #FF6B00;
$secondary: #00E5FF;

$success: #16A34A;
$info: #0ABAB5;
$warning: #FFB100;
$danger: #D90429;

$light: #EDEDED;
$dark: #1b1b1b;

$body-bg: #050505;
$body-color: #BEBEBE;
$accent: #FFD700;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
	"light": $light,
	"dark": $dark,
	"background": $body-bg,
	"text": $body-color,
	"accent": $accent
);

@import "bootstrap/scss/bootstrap";